body {
  display: flex;
  flex-direction: column;
  background-color: $bg;
  color: $default;
  @extend %rubik-400;
  font-size: 20px;
  line-height: 1.5;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.section {
  padding: 60px 0;
}

.logo {
  border-radius: 5px;
  display: inline-block;
  transition: box-shadow 0.3, opacity 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.btn-accent {
  border-radius: 6px;
  padding: 7px 16px;
  background-color: $accent;
  color: $hover;
  font-size: 14px;
  line-height: 1.3;
}

.main-link {
  position: relative;
  display: inline-block;
  color: $title;
  line-height: 1.5;

  &::after {
    position: absolute;
    content: '';
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $title;
    transition: background-color 0.3s;
  }

  &:focus::after,
  &:hover::after,
  &:active::after {
    background-color: transparent;
  }
}

.title {
  margin-bottom: 45px;
  color: $title;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}

.link-animation {
  border-radius: 5px;
  transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
    // color: $accent;
  }

  &:hover {
    color: $accent;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba($default, 0.5);
  }
}

.btn-animation {
  transition: background-color, box-shadow, color 0.3s;
  &:focus {
    background-color: rgba($accent-light, 0.1);
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
    color: $accent;
  }

  &:hover {
    background: rgba($hover, 0.1);
    box-shadow: 0 0 0 2px rgba($accent, 0.7), 0 5px 12px 0 rgba($accent, 0.2);
    color: $accent;
  }

  &:active {
    background-color: rgba($accent-light, 0.1);
    color: $accent;
  }
}

.user-animation {
  transition: background-color 0.3s, box-shadow 0.3s;

  svg {
    stroke: $title;
    transition: stroke 0.3s;
  }

  &:focus {
    background-color: rgba($accent-light, 0.1);
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
  }

  &:hover {
    background-color: $accent;

    svg {
      stroke: $hover;
    }
  }

  &:active {
    background-color: #fff2ed;
  }
}

.product-card {
  box-shadow: 0 0 0 1px $bullet;
  border-radius: 5px;
  padding: 20px 15px;
  max-width: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $hover;
  font-size: 15px;
  transition: box-shadow 0.3s;

  &__title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1;
  }

  &__price {
    margin-bottom: 10px;
    color: $title;
    font-weight: 500;
    line-height: 1.4;
  }

  &:hover {
    box-shadow: 0 0 0 1px $accent;
  }
}
