body {
  display: flex;
  flex-direction: column;
  background-color: $bg;
  color: $default;
  @extend %rubik-400;
  font-size: 20px;
  line-height: 1.5;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.section {
  padding: 60px 0;
}

.logo {
  border-radius: 5px;
  display: inline-block;
  transition: box-shadow 0.3, opacity 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.btn-accent {
  border-radius: 6px;
  padding: 7px 16px;
  background-color: $accent;
  color: $hover;
  font-size: 14px;
  line-height: 1.3;
}

.main-link {
  position: relative;
  display: inline-block;
  color: $title;
  line-height: 1.5;

  &::after {
    position: absolute;
    content: '';
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $title;
    transition: background-color 0.3s;
  }

  &:focus::after,
  &:hover::after,
  &:active::after {
    background-color: transparent;
  }
}

.title {
  margin-bottom: 45px;
  color: $title;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}

.link-animation {
  border-radius: 5px;
  transition: box-shadow 0.3s, color 0.3s, text-shadow 0.3s;

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
    // color: $accent;
  }

  &:hover {
    color: $accent;
  }

  &:active {
    text-shadow: 2px 2px 5px rgba($default, 0.5);
  }
}

.btn-animation {
  transition: background-color, box-shadow, color 0.3s;
  &:focus {
    background-color: rgba($accent-light, 0.1);
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
    color: $accent;
  }

  &:hover {
    background: rgba($hover, 0.1);
    box-shadow: 0 0 0 2px rgba($accent, 0.7), 0 5px 12px 0 rgba($accent, 0.2);
    color: $accent;
  }

  &:active {
    background-color: rgba($accent-light, 0.1);
    color: $accent;
  }
}

.user-animation {
  transition: background-color 0.3s, box-shadow 0.3s;

  &:focus {
    background-color: rgba($accent-light, 0.1);
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
  }

  &:hover {
    background-color: $accent;
  }

  &:active {
    background-color: #fff2ed;
  }
}

.product-card {
  box-shadow: 0 0 0 1px $bullet;
  border-radius: 5px;
  padding: 20px 15px;
  max-width: 210px;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $hover;
  font-size: 15px;
  transition: box-shadow 0.3s;

  &__img {
    margin-bottom: 10px;
    width: 140px;
    height: 140px;
  }

  &__title {
    margin-bottom: 18px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
  }

  &__price {
    margin-bottom: 10px;
    color: $title;
    font-weight: 500;
    line-height: 1.4;
  }

  &:hover {
    box-shadow: 0 0 0 1px $accent;
  }
}

.restaurant-card {
  border-radius: 10px;
  max-width: 370px;
  width: 100%;
  background-color: $hover;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 3px 15px 0 rgba($accent, 0.5);
  }

  &__content {
    padding: 15px 20px 20px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time {
    position: relative;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      width: 18px;
      height: 20px;
      background-image: url('../images/icons/time-icon.svg');
      @extend %bg;
    }
  }

  &__btn {
    display: flex;
    border-radius: 20px;
    padding: 5px 28px;

    svg {
      fill: $hover;
      transition: fill 0.3s, transform 0.3s;
    }

    &:focus,
    &:active {
      svg {
        fill: $accent;
      }
    }

    &:hover {
      box-shadow: 0 0 0 2px rgba($accent, 0.7);

      svg {
        transform: translateX(20px);
        fill: $accent;
      }
    }
  }
}
