@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'mixins';
@import 'global';

.header {
  padding: 60px 0;

  &__menu {
    display: flex;
    align-items: center;
  }
}

.menu {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 45px;
  }

  &__link {
    color: $default;
    font-size: 18px;
  }

  &__link.menu__link--active {
    color: $accent;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  &__num {
    position: absolute;
    top: 10px;
    z-index: 2;
    left: 26px;
    border-radius: 10px;
    padding: 2px 4px;
    background-color: $accent;
    color: $hover;
    line-height: 1;
    @extend %rubik-400;
    font-size: 10px;
    font-weight: 400;
    transition: color 0.3s;
  }
}

.hero {
  padding-bottom: 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 1.3;
  }

  &__content {
    margin: auto 0;
    max-width: 450px;
    width: 100%;
  }

  &__img {
    width: 550px;
    height: 660px;
  }

  &__title {
    margin-bottom: 25px;
    color: $title;
    @extend %rubik-500;
    font-size: 66px;
    text-transform: uppercase;

    span {
      color: $accent;
    }
  }

  &__text {
    margin-bottom: 25px;
  }

  &__btn {
    margin-right: 34px;
    padding: 12px 32px;
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.pop-categories {
  &__title {
    margin-bottom: 60px;
  }

  &__buttons {
    margin-bottom: 45px;
  }

  &__inner {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }

  &__link {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }
}

.filter-pop-products {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__btn {
    border-radius: 5px;
    padding: 13px 32px;
    display: flex;
    align-items: center;
    background: $hover;
    box-shadow: 0 0 0 1px $bullet;
    color: $title;
    line-height: 1.3;
    transition: box-shadow 0.3s, background-color 0.3s;

    svg {
      fill: $title;
      margin-right: 10px;
      transition: fill 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
    }

    &:hover {
      background-color: rgba($accent-light, 0.1);
      box-shadow: 0 0 0 2px rgba($accent, 0.7);
      color: $accent;
      svg {
        fill: $accent;
      }
    }

    &:active {
      box-shadow: 0px -5px 12px 0px rgba($accent-light, 0.2) inset;
    }
  }
}

.features {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__img {
    width: 440px;
    height: 585px;
    @extend %bg;
  }

  &__content {
    width: 470px;
  }

  &__title {
    text-align: left;

    span {
      display: block;
      max-width: 340px;
    }
  }

  &__title,
  &__text,
  &__list {
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
    padding-left: 65px;
    font-size: 24px;
    color: $title;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 34px;
      height: 34px;
      @extend %bg;
    }

    &--delivery:before {
      background-image: url('../images/icons/stopwatch-icon.svg');
    }

    &--courier:before {
      background-image: url('../images/icons/delivery-icon.svg');
    }

    &--restaurant:before {
      background-image: url('../images/icons/shop-icon.svg');
    }
  }

  &__btn {
    padding: 12px 32px;
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.best-restaurant {
}

.footer {
  &__top {
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 70px;
  }

  &__bottom {
    border-top: 1px solid rgba($border, 0.2);
  }

  .logo {
    margin-bottom: 30px;
  }

  &__subscribe {
    // max-width: 200px;
    // width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 70px;
  }

  &__link {
    font-size: 18px;
  }

  &__bottom {
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    line-height: 1;
  }
}

.footer-contacts {
  &__item {
    position: relative;
    margin-bottom: 15px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 2;

    &::before {
      position: absolute;
      content: '';
      left: 0;
      @extend %bg;
    }

    &--adress::before {
      width: 15px;
      height: 18px;
      background-image: url('../images/icons/location-icon.svg');
    }

    &--tell::before {
      width: 19px;
      height: 19px;
      background-image: url('../images/icons/calling-icon.svg');
    }

    &--email::before {
      width: 20px;
      height: 18px;
      background-image: url('../images/icons/message-icon.svg');
    }
  }
}

.form-subscribe {
  font-size: 14px;
  line-height: 1.3;

  &__input {
    margin-bottom: 12px;
    padding: 13px 15px;
    border: 1px solid $border;
    border-radius: 5px;
    display: block;
    width: 100%;

    &:focus {
      border: 1px solid rgba(194, 194, 194, 0);
      box-shadow: 0 0 0 2px $accent;
    }

    &::placeholder {
      transition: color 0.3s;
      color: $border;
    }

    &:hover::placeholder {
      color: $title;
    }
  }

  &__btn {
    padding: 13px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @extend %rubik-500;
  }
}

.socials-contacts {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 13px;
  }

  &__link {
    border-radius: 50%;
    width: 39px;
    height: 39px;
    background-color: $bullet;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    path {
      stroke: none;
      fill: $default;
      transition: fill 0.3s;
    }

    &:hover {
      path {
        fill: $hover;
      }
    }

    &:active {
      path {
        fill: $accent;
      }
    }
  }
}
